.doctor-detail-container {
  height: auto;
  //   border: 1px solid red;
  margin-top: 100px;
  .intro-doctor {
    display: flex;
    height: auto;
    align-items: flex-start;
    .content-left {
      width: 120px;
      height: 120px;
      //   border: 1px solid green;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 120px 120px;
      border-radius: 50%;
      //   margin: 10px 20px;
      margin-right: 20px;
    }
    .content-right {
      width: 80%;
      //   border: 1px solid blue;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      .up {
        font-size: 20px;
        font-weight: 600;
      }
      .down {
        padding-top: 10px;
      }
    }
  }
  .detail-info-doctor {
    margin-top: 30px;
    img{
      width: 100%;
    }
  }
}
