.booking-modal-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
  .modal-content {
    width: 50%;
    .modal-header {
      .modal-title {
        color: #000;
        text-transform: uppercase;
      }
      .close {
        border: none;
        background: transparent;
        font-size: 29px;
      }
    }
    .modal-body {
      .doctor-info {
      }
      .doctor-price {
        margin-top: 15px;
        .row {
          margin-top: 15px;
          .form-group {
            margin-top: 5px;
          }
          .name {
          }
          .gender {
            .gender-container {
              display: flex !important;
              .gender-wrap {
                margin-right: 10px;
                margin-top: 5px;
              }
            }
          }
          .about {
            .about-container {
              display: flex !important;
              .about-wrap {
                margin-right: 5px;
              }
            }
          }
          .birthday{
            label{
              margin-right: 10px;
            }
          }
        }
      }
    }
    .modal-footer {
      border-top: none !important;
      .btn {
        padding-left: 12px;
        padding-right: 12px;
      }
      .btn-secondary {
        background-color: red;
      }
    }
  }
}
