.manage-doctor-container {
  .manage-doctor-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    color: #49bce2;
  }
  .more-info {
    display: flex;
    justify-content: space-between;
    .content-left {
      display: flex;
      flex-direction: column;
      flex: 40%;
      margin-right: 40px;
      .choose-doctor-title {
      }
    }
    .content-right {
      display: flex;
      flex-direction: column;
      flex: 60%;
      .doctor-info {
        height: 150px;
      }
    }
  }
  .manage-doctor-editor {
  }
}
