.doctor-schedule-container {
  display: flex;
  flex-direction: column;
  .all-schedule {
    .form-select {
      width: 40%;
      border-bottom: 1px solid #000;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      cursor: pointer;
      background-color: #f9f9f9;
      font-weight: bold;
      color: #337ab7;
      option {
      }
    }
    margin-bottom: 20px;
  }
  .all-available-time {
    .schedule {
    }
    .time {
      .booking-free {
        margin-top: 15px;
      }
      .time-content-btn {
        button {
          background: #fff8ae;
          margin-right: 8px;
          min-width: 30%;
          display: inline-block;
          vertical-align: middle;
          white-space: nowrap;
          text-align: center;
          color: #333;
          font-weight: bolder;
          margin: 0 8px 8px 0;
          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 0px 2px #33b0e3 inset;
          }
        }
      }
    }
  }
}
