@import '../../../styles/_variables.scss';

.section-about {
  height: auto;
  padding-bottom: 55px;
  background-color: #fff;
  .container-layout {
    padding-top: 55px;
    .about-title {
      margin-bottom: 20px;
    }
    .about-content {
      display: flex;
      justify-content: space-around;
      .about-left {
      }
      .about-right {
        float: left;
        width: 50%;
        .link-icon {
          margin-right: 20px;
          margin-bottom: 10px;
          display: inline-block;
          .link-img {
            object-fit: cover;
          }
          .link-img.vtc-news {
            background-color: #a3171e;
          }
        }
      }
    }
  }
}
