@import '../../../styles/_variables.scss';

.section-medical-doctor-outstanding {
  height: 400px;
  // border: 1px solid red;
  // padding: 25px 0;
  display: flex;

  .specialty-content {
    margin-top: 5%;
    align-items: center;

    .specialty-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .specialty-header-title {
      }
      .specialty-header-des {
        background: #ebebeb;
        text-transform: uppercase;
        display: inline-block;
        padding: 5px 15px;
        color: #282e41;
      }
    }

    .slick-slider {
      .slick-prev {
        left: -25px;
        z-index: 1;
        &::before {
          font-weight: 400;
          background: #fff;
          border: 2px solid #d7d7d7;
          padding: 10px;
          text-align: center;
          color: #959595 !important;
        }
      }

      .slick-list {
        .slick-track {
          .slick-slide {
            .specialty-content-wrap {
              .specialty-content-detail {
                margin: 0 5px;
                padding: 15px 0;
                border: 1px solid #eee;
                .image-container {
                  height: 200px;
                  background-color: #fff;
                  display: flex;
                  justify-content: center;
                  img {
                    border-radius: 50%;
                    width: auto;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                  }
                }

                .detail-title-wrap {
                  text-align: center;
                  .detail-title {
                    color: $six-text-color;
                    font-size: medium;
                    margin-top: 10px;
                  }
                  .detail-des {
                  }
                }
              }
            }
          }
        }
      }

      .slick-next {
        right: 0px;
        z-index: 1;
        &::before {
          font-weight: 400;
          background: #fff;
          border: 2px solid #d7d7d7;
          padding: 10px;
          text-align: center;
          color: #959595 !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .section-medical-facilities {
    display: initial;
  }
}
