@import '../../../styles/_variables.scss';

.section-medical-doctor-outstanding {
  height: auto;
  display: flex;
  padding-bottom: 55px;

  .specialty-content {
    padding-top: 55px;
    align-items: center;

    .specialty-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .specialty-header-title {
      }
      .specialty-header-des {
        background: #ebebeb;
        text-transform: uppercase;
        display: inline-block;
        padding: 5px 15px;
        color: #282e41;
      }
    }

    .slick-slider {
      .slick-prev {
        left: -25px;
        z-index: 1;
        &::before {
          font-weight: 400;
          background: #fff;
          border: 2px solid #d7d7d7;
          padding: 10px;
          text-align: center;
          color: #959595 !important;
        }
      }

      .slick-next {
        right: 0px;
        z-index: 1;
        &::before {
          font-weight: 400;
          background: #fff;
          border: 2px solid #d7d7d7;
          padding: 10px;
          text-align: center;
          color: #959595 !important;
        }
      }

      .slick-list {
        .slick-track {
          display: flex !important;
          .slick-slide {
            height: inherit !important;
            div {
              height: 100%;
              .specialty-content-wrap {
                height: 100%;
                .specialty-content-detail {
                  cursor: pointer;
                  height: 100%;
                  margin: 0 5px;
                  padding: 15px;
                  border: 1px solid #eee;
                  .image-container {
                    height: 200px;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    img {
                      border-radius: 50%;
                      width: auto;
                      height: 100%;
                      object-fit: contain;
                      object-position: center;
                    }
                  }

                  .detail-title-wrap {
                    text-align: center;
                    .detail-title {
                      color: $six-text-color;
                      font-size: medium;
                      margin-top: 10px;
                    }
                    .detail-des {
                    }
                  }
                }
              }
            }
          }
        }
      }

      .slick-disabled {
        display: none !important;
      }
    }
  }
}

@media (max-width: 1248px) {
  .section-medical-doctor-outstanding {
    height: auto;
    display: block;
    .specialty-content {
      .specialty-header {
        .specialty-header-title {
        }
        .specialty-header-des {
        }
      }

      .slick-slider {
        .slick-prev {
          &::before {
          }
        }

        .slick-list {
          .slick-track {
            .slick-slide {
              .specialty-content-wrap {
                .specialty-content-detail {
                  padding: 10px;
                  .image-container {
                    height: auto;
                    img {
                      width: 70%;
                      height: 70%;
                    }
                  }

                  .detail-title-wrap {
                    .detail-title {
                    }
                    .detail-des {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
