@import '../../styles/_variables.scss';

.home-footer {
  height: 100px;
  background-color: $eight-text-color;
  .container-layout {
    .copy-right {
      color: #fff;
      padding-top: 20px;
      display: block;
    }
  }
}
